/* Layout website */
*{
	font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}

 h1 {

 	margin: 0;
 	margin-bottom: 25px;

 }

 html, body {

   padding-top: 40px;
   height:100%;

}


.page{
	min-height:100%;
	position:relative;
}

.content {
	
	padding-top: 40px;
	padding-bottom:60px;   /* Altura do footer */

}



.container {


	width: 95%;
	

}



.form-box {
	
	margin: auto;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
    border-color: #bfbcbc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.form-box-title{
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #696969;
}
.form-box-header {
	padding-top: 4%;
	padding-bottom: 4%;
	border-top: solid;
	border-bottom: solid;
	border-color: #bfbcbc;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #e5e5e5;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
.form-box-main {
	width: 70%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}

.form-box-main .esqueceu-senha{
	margin-top: 10px;
	margin-bottom: 20px;
}

.form-box-main p {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-size: 14px;
}
.form-box-main .ou {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-box-main  input {
	margin-top:10px;
}

.form-box-main  textarea {
	resize: vertical;
	margin-top:10px;
}

.form-box-main  select {
	margin-top:10px;
}

.form-box-main  button {
	margin-top:10px;
}


.form-group {
	margin-left:0 !important;
	margin-right: 0 !important;
}

.cadastro-usuario-div-sexo{

	margin-top:10px;
	margin-bottom: 20px;
}

/* TOPO */


.header_div_top_right a, .header_div_top_right .glyphicon-menu-right, .topo2 .notificacao-icon { 

	color: white;
	margin-left: 20px;
	text-align: right;
	float: right;
	padding-top: 6px;
	padding-bottom: 6px;
}


.topo2 .notificacao-icon {

	display: none;

}

.notificacao-icon{
	
}

.painel_menu .glyphicon {

	margin-right: 6px;

}

.header_div_top_right .glyphicon-menu-right {

	color: white;
	font-size: 12px;
	padding-top: 7px;
	margin-right:-10px ;
	padding-left: 15px;

}

.topo_fixed {

	margin-bottom: 30px;
	width: 100%;

}

.topo2 {

	opacity: 0.90;
	position: fixed;
	width: 100%;
	background: white;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	
/* BOTAO DE MINHA CONTA */

}

.minha_conta_div a {
	color: #555;
}

.minha_conta {


	opacity: 1;
	font-weight: bold;
	background-color: orange;
	color: white;
	float: right;
	cursor: pointer;
	text-align: center;
	width: 120px;
	height: 35px;
	/*border: 1px solid #B6B6B4;*/
	padding-left: 0px;
	border-radius: 5px;	
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset;


}

.minha_conta:hover {

/* 
 border-color: #E5E4E2;
 background: #59E817;
 */

 
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset;


}



.minha_conta:hover p {


text-decoration: underline;

}

.minha_conta span{

	float: left;
	font-size: 18px;
	padding-top:8px;

}



.minha_conta p {

	
	float: left;
	font-weight: bold;
	font-size: 14px;
	padding-top:10px;
	margin-left: -3px;

}

.minha_conta_div {


}

.glyphicon-user {

	padding-left: 15px;

}

.cadastre_entrar_sair {
	float: right;
	margin-top: 10px;
	color: #474646;
	font-size: 14px;
	font-style: bold;
	margin-right: 25px;
}




/* MENU DO TOPO */



.topo2_menu a { 

	color: #474646;

}


.menu  {
	margin-top: 10px;
	margin-left: 20px;
	list-style-type: none;
	float: left;
}

.menu li, .menu a {

	float: left;
	text-decoration: none;
	color: #493D26;
	font-size:16px;
	margin-right: 10px;
}

.menu li :hover {

	text-decoration: underline;

}

.menu .activate {

	text-decoration: underline;

}

/* TESTE POSICAO DE COLUNAS */
/*
.coluna0, .coluna1, .coluna2, .coluna3 {
	height: 150px;
}

.coluna0 {

	background: green;

}

.coluna1 {

	background: black;
}
.coluna2 {

	background: blue;

}

.coluna3 {

	background: red;

}
*/


/* LOGO */

.logo_imagem {
	width: 150px;
}

.topo2 .logo {

	height: 80px;
	width: 200px;
	border:1px solid #ccc;
	margin-top: 15px;

}

.topo3 {
	margin-bottom: 30px;
	width: 100%;
	background-color: #ccc;
}



.glyphicon-search {

	color: orange;
	font-style: bold;
	font-size: 14px;
}

.loginlogout {

	font-size: 18pt;


}

/* BARRA DE BUSCA */

.input_texto_pesquisar_topo {

	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset;
	border-color: orange;
	border-radius: 8px;

}


.input_texto_pesquisar_topo:focus {

	border-color: orange;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075) inset, 0 0 3px orange;
    transition: all 0.2s ease 0s;




}

.botao_procura_topo {

	border-color: orange;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset;
	border-radius: 8px;


}

.botao_procura_topo:hover {

	border-color: orange;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset


}


}

.input_texto_pesquisar {

	
	border-color: #4CC417;
	float:left;
	margin:0;
	width: 40%;

}


/* MENSAGENS DA PAGINA */


.pagina_nao_encontrada {

	display: none;
}

.voce_precisa_estar_logado {

}

/* PUBLICAR SERVICO */

.publicar_servico {
	margin:auto;

}

/* LISTA DE SERVIÇOS, PAGINA INICIAL, HOMEPAGE */

.container-lista-servicos {
	margin-left:-20px;
}

.sidebar {

	margin:0 auto;
	width: 100%;
}



.sidebar-categorias{



}

.sidebar-categorias ul{
	margin: auto;
	margin: 0;



}

.sidebar-categorias ul li{

	


	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) inset;
	margin:0;
	list-style: none;
	border: 1px solid #ccc;
	padding: 20px;
	float:left;
	width: 120px;
	height: 70px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	position: relative;




}

.sidebar-categorias ul li .sidebar-centering{

	  position: absolute;
	  /*top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);*/
	  
	  left:25%;
	  width:50%;
	  height:50%;
	  top:80%;



}

/*GLYPHICONS DA SIDEBAR */

.glyphicon-cutlery {

	font-size: 18px;
	
}

.glyphicon-home {

	font-size: 18px;
	
}

.glyphicon-education {

	font-size: 18px;
	
}

.glyphicon-equalizer {

	font-size: 18px;

}

.glyphicon-wrench {

	font-size: 18px;

}

.glyphicon-pencil {

	font-size: 18px;

}

.glyphicon-plus {

	font-size: 18px;

}

.glyphicon-sunglasses{

	font-size: 18px;

}

.sidebar-categorias ul li:hover{
	
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	cursor: pointer;
	text-decoration: underline;
}

.sidebar .cidades{
	width: 240px;
}

.servicos {

	margin: auto;
	padding: auto;
	margin-bottom: 20px;
}

.servico	{	

	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: justify;
	float:left;
	padding: 0 10px;
	min-height: 370px;

}

.servico2 {


	/*width: 280px;
	min-height: 270px;*/

	border-radius: 10px;
	width: 250px;
	border: 1px solid white;

}

.servico-conteudo{

	width: 95%;
	text-align: justify;
	margin: auto;
	margin-top: 15px;
	padding-bottom: 10px;

}

.servico2:hover, .servico_destaque:hover { 
   	
   background: white;
   box-shadow: inset 0 0 0 1px gray;  
   text-decoration: underline;
   border:1px solid #ccc;

}

.servicos h3 {

	font-size: 18px !important;
	margin: 0;

}

.servico_destaque{

	width: 100%;
	border-radius: 10px;
	cursor: pointer;
	min-height: 190px;
	margin-bottom: 30px;
	border: 1px solid white;

}

.servicos_titulo_filtro {
	margin-top:20px;
}



.servico_destaque_content{
	
	float:left;
	margin-left: 45px;
	margin-top:10px;

}


.servico_img:hover {

	 opacity: 0.90;	

}

.servico_img {

	margin: auto;
	padding: auto;


}

.servico_destaque_img{

	width: 250px;
	float:left;

}

.servico_img img {

	width: 280px;
	height: 190px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}



.servico_destaque_img img{

	border-radius: 0;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

.service_item_thumb {	
	
}

.service_item_content {
	
}

.servicos_itens_nao_encotrados p{

	font: normal 18px "Helvetica Neue",Helvetica,Arial,Sans-serif;
    color: #333;
    margin-bottom: 30px;
}

/* Cadastro Usuário */

.div_crop_foto_usuario {

	width:148px;
	height: 148px;
	position: relative;
	border:1px solid #ccc;
}

.error {

	color: red;
    margin-top: 10px;
    margin-bottom: -6px;
}

form .row {

	margin-top: 10px;
	margin-bottom: 20px;
}

.foto-preview{

	display:none;
	margin-top:10px;
	
}

.image-size-label{
	margin-top:10px;
	text-align: center;
}

.cropit-image-zoom-input{
	margin-top:-6px;
}

.novo_usuario_main .cadastre-se{
	margin-top: 20px;
	margin-bottom: 10px;
}

.cropit-image-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 148px;
	height: 148px;
	cursor: move;
	margin:auto;
}

/* RESULTADO DE OPERACOES */ 

.resultado_de_operacoes{
	display: none;

}
.resultado_de_operacoes .resultado_sucesso{
 	display: none;
 	font-size:14px;
}
.resultado_de_operacoes .resultado_erro{
	display: none;
	font-size:14px;
	padding: 10px;
}


/* PAINEL DO USUARIO */

.itens_nao_encotrados{
	display: none;
}

.painel_menu{
	margin-bottom: 0px;
}

.painel_menu li {
	border-left: solid #ffffff;
	border-right: solid #ffffff;
	border-width: 0;
}

.painel_menu li a{

	font-weight: bold;
	color: #989898  ;
}

.painel_menu li a:hover{
	color: #555 ;
	background:#E8E8E8  ;
}

.painel_menu li.active{

}

.painel_menu li.active a{

	font-weight: bold;
	
}

.painel_menu li.active a:hover{

}

.painel_usuario_main {
	padding: 5%;
	border: 1px solid #e5e5e5;
	margin-top: -1px;

}

.painel_usuario_main input {


}

.painel_usuario_main h2 {
	padding-top: 1%

}

.btn-save,.btn-edit, .btn-cancel  {
	width: 100px;
}

.btn-save, .btn-cancel {
	display: none;
}

.btn-cancel{
	float:left;
	margin-left: 4px;
}

.painel_usuario_main input[type="text"]:disabled, .painel_usuario_main input[type="password"]:disabled {
	border: 0 !important;
	background-color: white !important;
}

.painel_usuario_main input[type="text"], .painel_usuario_main input[type="password"] {
	width: 300px;
}


.ui-datepicker{
	background: white !important;
	padding: 5px !important;
	border: 1px solid #ccc;
}
.ui-datepicker span, .ui-datepicker td, .ui-datepicker a{
	margin:3px;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
	margin: 0 !important;
}

.ui-datepicker-prev {
	float: left; !important;
}

.ui-datepicker-next {
	float: right; !important;
}

.ui-datepicker-year {
	float: right; !important;
}

.perfil_info{
	display: none;
}

.painel_usuario_main .resultado_de_operacoes{
	margin-top:20px;
}

/* PERFIL PUBLICO DO USUARIO */

.quebra_galho_contato{
	display: none;
}

.quebra_galho_perfil {

}

.quebra_galho_perfil_box{
	
	width: 100%;
	margin: auto;
	text-align: left;
	border: 1px solid #E5E4E2;
	padding-right: 900px;
	padding-top: 30px;
	
	margin-bottom: 20px;
	padding-bottom: 20px;

	border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}

.quebra_galho_perfil_box_content {

	width: 60%;
	margin: auto;

}
.quebra_galho_perfil .div_crop_foto_usuario {
	

	margin: auto;
	margin-top: 15px;
}

.cropit-image-preview, .usuario_foto {

	border-radius: 20px;
}

.quebra_galho_perfil_box {

}

.servico_nome {


	padding-left: 200px;

}


/* PAINEL DO USUARIO, MINHA CONTA */

.link_to_servico a{

	font-size: 16px;
	color: green;

}

.link_to_servico:hover {

	
	opacity: 0.9;
	text-decoration: underline;

}

.ver_mais_avaliacoes a{

	font-size: 16px;
	color: orange;

}

.ver_mais_avaliacoes:hover {

	text-decoration: underline;
	opacity: 0.9;

}

.foto_usuario img {

}

.reputacao_geral p{

	font-size: 14px;
	border-color: black;
	border-width: 1px;


}


/* INFINITE SCROLL PAGINATION */

.paginacao_carregando {
	

	width: 100%;
	text-align: center;

}

.paginacao_carregando_img {


	
	padding-right: 250px;
	display: none;
	margin-top: -30px;
	margin:auto;
	padding-bottom: 30px;
	padding-top: 25px;

}

.paginacao_carregando_acabou_msg {
	
	display: none;
	font-size:22px;
	margin:auto;
	margin-top: -15px;
	padding-bottom: 30px;
	padding-top: 25px;
	padding-right: 250px;
}

/* RODAPE - FOOTER */


.footer {



	margin: 0;
	background-color: black;
	margin-top: 20px;
	padding: 15px;
	position:absolute;
    bottom:0;
    width:100%;
    height:60px;   

    /* Altura do Footer */


}

.footer ul {

	text-decoration: none;
	list-style: none;
	margin:0;

}

.footer ul li{
	color: #F8F8F8;
	float:left;
	margin:0;
	margin-right: 40px;
}

.footer p {

	margin:0;
}

.footer_copyright{
	float:right;
	color: white;
	padding-top: 7px;
}


.footer a {

	line-height: 30px;
	color: #F8F8F8;
	font-size: 16px;
	font-style: normal;
}




.glyphicon{

	position: inherit !important;
}

.modal-body{
	min-height: 100px;
}


.modal-body p {
	font-size: 14px; 
}



/* SOBRE NOS */


.container_sobre p, .container_sobre a {


	text-align: justify;
	font-size: 16px;


}


.video {

	margin-top: 50px;
	display: block;
	padding-left: 25%;



}

.obs_sobrehelp {

margin-top: 30px;	

}

/* MODAL NOVA ATUALIZACAO */
.modal_nova_avaliacao .nota{
	margin-top: 10px;
	min-width: 150px;

}

.modal_nova_avaliacao .descricao{
	margin-top:20px;
}

.modal_nova_avaliacao .modal-body{
	padding-bottom:30px; 
}


/* AJUDA */




/* LOG IN */








.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.left{
	float:left;
}
.right{
	float: right;
}
.top10{
	margin-top: 10px;
}
.top15 {
	margin-top:15px;
}
.top20 {
	margin-top:20px;
}