/* Layout website */
*{
	font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	width: 90%;
}

.topo1 {
	height: 30px;
	width: 100%;
	background-color: #17679D;

}

.header_div_top_right a, .header_div_top_right .glyphicon-menu-right{ 
	color: white;
	margin-left: 20px;
	text-align: right;
	float: right;
	padding-top:8px;
}

.header_div_top_right .glyphicon-menu-right{ 
	color: white;
	font-size:12px;
	padding-top:8px;
	margin-right:-12px;
}


.topo2 {
	height: 100px;
	width: 100%;
}

.topo2 .logo {
	height: 80px;
	width: 200px;
	border:1px solid #ccc;
	margin-top:20px;
}

.topo2 .menu  {
	list-style-type: none;
	margin-top:45px;
}
.topo2 .menu li, .topo2 .menu a {
	float: left;
	text-decoration: none;
	margin-right: 20px;
	color: #474646;
	font-size:18px;
}

.topo2 .menu li:hover, .topo2 .menu .activate{
	border-bottom: 3px solid #17679D;
}


.topo3 {
	margin-top: 20px;
	margin-bottom: 30px;
	height: 20px;
	width: 100%;
	background-color: #ccc;
}

.pagina_nao_encontrada {
	display: none;
}

.voce_precisa_estar_logado {
}

/*publicar servico*/
.publicar_servico {

}

/*lista servicos */

.servicos {
	margin: auto;
	padding: auto;
	margin-top:20px;
}

.servico	{	
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: justify;
	float:left;
	margin-bottom: 30px;
	width: 25%;
	float:left;
}

.servico2{
	width: 280px;
	min-height: 400px;
}

.servico3{
	width: 95%;
	text-align: justify;
	margin: auto;
}

.servico2:hover, .servico_destaque:hover{
   background:#ccc;
}


.servico_destaque{
	height: 200px;
	margin-bottom: 30px;
}

.servicos_titulo_filtro {
	margin-top:20px;

}

.servico_img {
	margin: auto;
	padding: auto;
}

.servico_img img {
	width: 280px;
	height: 200px;
}

.service_item_thumb {	
	
}

.service_item_content {
	
}

.servicos_itens_nao_encotrados{
	display: none;
}


/* Cadastro Usuário */

.div_crop_foto_usuario {
	width:200px;
	height: 200px;
	position: relative;
	border:1px solid #ccc;
}

.error {
	color: red;
}

form .row {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* Rodape */

.texto_rodape{
	color:blue;
}


/* Resultado de Operacoes */ 
.resultado_de_operacoes{
	display: none;
}
.resultado_de_operacoes .resultado_sucesso{
 	display: none;
}
.resultado_de_operacoes .resultado_erro{
	display: none;
}


/* painel usuario */

.negociacoes_nao_encotrados{
	display:none;
}

/* Quebra Galho Perfil */

.quebra_galho_contato{
	display: none;
}



/* infinite scroll pagination */
.paginacao_carregando{
	width: 100%;
	text-align: center;
}

.paginacao_carregando_img{
	display: none;
	margin-top: -30px;
	margin:auto;

.paginacao_carregando_acabou_msg{
	display: none;
	font-size:22px;
	margin:auto;
	margin-top: -15px;
}