/* Layout website */
*{
	font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}

 h1 {

 	margin: 0;
 	margin-bottom: 25px;

 }


.container {
	width: 90%;
	height: 100%
}


.container-lista-servicos {
	width: 80%;
}

.form-box {
	
	margin: auto;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
    border-color: #bfbcbc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.form-box-title{
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #696969;
}
.form-box-header {
	padding-top: 4%;
	padding-bottom: 4%;
	border-top: solid;
	border-bottom: solid;
	border-color: #bfbcbc;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #e5e5e5;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
.form-box-main {
	width: 70%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}

.form-box-main .esqueceu-senha{
	margin-top: 10px;
	margin-bottom: 20px;
}

.form-box-main p {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-size: 14px;
}
.form-box-main .ou {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-box-main  input {
	margin-top:10px;
}

.form-box-main  textarea {
	resize: vertical;
	margin-top:10px;
}

.form-box-main  select {
	margin-top:10px;
}

.form-box-main  button {
	margin-top:10px;
}


.form-group {
	margin-left:0 !important;
	margin-right: 0 !important;
}

.cadastro-usuario-div-sexo{
	margin-top:10px;
	margin-bottom: 20px;
}

/* Topo */

.topo1 {
	width: 100%;
	background-color: #17679D;
}

.header_div_top_right a, .header_div_top_right .glyphicon-menu-right, .header_div_top_right .notificacao-icon{ 
	color: white;
	margin-left: 20px;
	text-align: right;
	float: right;
	padding-top: 6px;
	padding-bottom: 6px;
}

.notificacao-icon{
	display:none;
}

.header_div_top_right .glyphicon-menu-right{ 
	color: white;
	font-size: 12px;
	padding-top: 7px;
	margin-right:-10px ;

}

.topo_fixed {

	margin-bottom: 30px;
	width: 100%;

}

.topo2 {
	width: 100%;
	background: white;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	border-bottom: 1px solid #ccc;

}


.minha_conta_div a {
	color: #555;
}

.minha_conta{
	margin: auto;
	cursor: pointer;
	text-align: center;
	width: 150px;
	height: 35px;
	border: 1px solid #ccc;
	padding-left: 14px;
}

.minha_conta:hover{
	background-color: #ccc;
}

.minha_conta span{
	float: left;
	font-size: 18px;
	padding-top:8px;
}

.minha_conta p{
	float: left;
	font-weight: bold;
	font-size: 14px;
	padding-top:10px;
	margin-left: -5px;
}



.topo2_menu a{
	color: #474646;

}


.menu  {
	list-style-type: none;
	float: right;
	margin-top: 7px;
	margin-right: 35px;
}

.menu li, .menu a {
	float: left;
	text-decoration: none;
	margin-left: 20px;
	color: #474646;
	font-size:16px;
}

.menu li:hover, .menu .activate{
	color: #1b77b5;
}







.topo2 .logo {
	height: 80px;
	width: 200px;
	border:1px solid #ccc;
	margin-top: 15px;
}

.topo3 {
	margin-bottom: 30px;
	width: 100%;
	background-color: #ccc;
}



.input_texto_pesquisar{
	float:left;
	margin:0;
	width: 40%;
}






.pagina_nao_encontrada {
	display: none;
}

.voce_precisa_estar_logado {
}

/*publicar servico*/
.publicar_servico {
	margin:auto;
}

/*lista servicos , inicial , home */

.servicos {
	margin: auto;
	padding: auto;
	margin-top:20px;
}

.servico	{	
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: justify;
	float:left;
	padding: 0 15px;
	height: 380px;


}

.servico2{
	/*width: 280px;
	min-height: 270px;*/
}

.servico3{
	width: 95%;
	text-align: justify;
	margin: auto;
	margin-top: 15px;
	padding-bottom: 10px;
}

.servico2:hover, .servico_destaque:hover{
   background:#ccc;
}

.servicos h3 {
	font-size: 18px !important;
	margin: 0;
}

.servico_destaque{
	width: 100%;
	cursor: pointer;
	height: 190px;
	margin-bottom: 30px;
}

.servicos_titulo_filtro {
	margin-top:20px;
}

.servico_destaque_img{
	float:left;
}

.servico_destaque_content{
	float:left;
	margin-left: 30px;
	margin-top:10px;
}



.servico_img {
	margin: auto;
	padding: auto;
}

.servico_img img {
	width: 250px;
	height: 190px;
}

.service_item_thumb {	
	
}

.service_item_content {
	
}

.servicos_itens_nao_encotrados p{
	font: normal 18px "Helvetica Neue",Helvetica,Arial,Sans-serif;
    color: #333;
    margin-bottom: 30px;
}



/* Cadastro Usuário */

.div_crop_foto_usuario {
	width:148px;
	height: 148px;
	position: relative;
	border:1px solid #ccc;
}

.error {
	color: red;
}

form .row {
	margin-top: 10px;
	margin-bottom: 20px;
}

.cropit-image-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 148px;
	height: 148px;
	cursor: move;
	margin:auto;
}

/* Rodape */

.texto_rodape{
	color:blue;
}


/* Resultado de Operacoes */ 
.resultado_de_operacoes{
	display: none;

}
.resultado_de_operacoes .resultado_sucesso{
 	display: none;
 	font-size:14px;
}
.resultado_de_operacoes .resultado_erro{
	display: none;
	font-size:14px;
	padding: 10px;
}


/* Painel Usuario */

.itens_nao_encotrados{
	display: none;
}

.painel_menu{
	margin-bottom: 0px;
}

.painel_menu li {
	border-left: solid #ffffff;
	border-right: solid #ffffff;
	border-width: 0;
}

.painel_menu li a{

	font-weight: bold;
	color: #989898  ;
}

.painel_menu li a:hover{
	color: #555 ;
	background:#E8E8E8  ;
}

.painel_menu li.active{

}

.painel_menu li.active a{

	font-weight: bold;
	
}

.painel_menu li.active a:hover{

}

.painel_usuario_main {
	padding: 5%;
	border: 1px solid #e5e5e5;
	margin-top: -1px;

}

.painel_usuario_main input {


}

.painel_usuario_main h2 {
	padding-top: 1%

}

.btn-save,.btn-edit {
	width: 100px;
}

.btn-save {
	display: none;
}

.painel_usuario_main input[type="text"]:disabled, .painel_usuario_main input[type="password"]:disabled {
	border: 0 !important;
	background-color: white !important;
}

.painel_usuario_main input[type="text"], .painel_usuario_main input[type="password"] {
	width: 300px;
}

/* Quebra Galho Perfil */

.quebra_galho_contato{
	display: none;
}

.quebra_galho_perfil_box{
	width: 60%;
	margin: auto;
	text-align: center;
	border: 1px solid #bfbcbc;
	
	margin-bottom: 20px;
	padding-bottom: 20px;

	border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.quebra_galho_perfil_box_content {
	width: 60%;
	margin: auto;
}
.quebra_galho_perfil .div_crop_foto_usuario{
	margin: auto;
	margin-top: 15px;
}

.quebra_galho_perfil_box{

}



/* infinite scroll pagination */
.paginacao_carregando{
	width: 100%;
	text-align: center;
}

.paginacao_carregando_img{
	display: none;
	margin-top: -30px;
	margin:auto;
}
.paginacao_carregando_acabou_msg{
	display: none;
	font-size:22px;
	margin:auto;
	margin-top: -15px;
}

/* Rodape */


.footer {
	
	width: 100%;
	height: 150px;
	background-color: #707070;
	margin-top: 20px;
}

.footer_text {

	text-align: center;
	padding-top: 18px;


}

.footer_text a {

	line-height: 30px;
	color: white;
	font-size: 16px;
	font-style: normal;

}

.footer_copyright {
	font-size: 12px;
	padding-left: 1150px;	
	color: white;
	font-style: normal;
}








.left{
	float:left;
}
.right{
	float: right;
}


.glyphicon{
	position: inherit !important;
}

.modal-body{
	min-height: 100px;
}


.modal-body p {
	font-size: 14px; 
}



/* Sobre nós */


.container_sobre p, .container_sobre a {


	text-align: justify;
	font-size: 16px;


}




.video {

	margin-top: 50px;
	display: block;
	padding-left: 25%;



}

.obs_sobrehelp {

margin-top: 30px;	

}


/* Ajuda */




















.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}